.container {
  display: grid;
  grid-template-rows: minmax(94vh, 1fr) min-content;
  margin-left: 30rem;

  @media only screen and (max-width: $screen-size-lg) {
    grid-template-rows: minmax(86vh, 1fr) min-content;
    margin-left: 0;
    padding-top: 6rem;
  }
}
