.auth-form {
  display: flex;
  flex-direction: column;
  height: 35rem;
  justify-content: space-between;
  padding: 2rem;

  &__title {
    margin-bottom: 1rem;
  }

  &__input {
    font-family: var(--default-font-family);
    font-size: 1.8rem;
    height: 5rem;
    padding-left: 1.5rem;

    &--invisible {
      visibility: hidden;
    }
  }

  &__btn {
    align-self: center;
    margin-top: 1rem;
  }

  &--login {
    border-right: 1px solid var(--color-grey);
  }
}
