.crypto-card {
  border: $border-grey-light;
  box-shadow: $box-shadow-thick;
  padding: 2rem;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__add {
    @include color-hover($color-secondary-dark, $color-secondary);
  }

  &__icon {
    &--check {
      @include color-hover($color-primary-dark, $color-primary);
      display: none;
    }
  }

  &__checkbox {
    display: none;
  }

  &__checkbox:checked ~ .crypto-card__add .crypto-card__icon {
    display: none;
  }

  &__checkbox:checked ~ .crypto-card__add .crypto-card__icon--check {
    display: inline-block;
  }

  &__info {
    list-style: none;
  }
}
