.home-table {
  border-collapse: collapse;
  color: $color-black;
  font-size: 2rem;
  table-layout: fixed;

  @media only screen and (max-width: $screen-size-xl) {
    font-size: 1.6rem;
  }

  @media only screen and (max-width: $screen-size-lg) {
    font-size: 2rem;
  }

  &__head {
    border-bottom: $border-grey-dark;
  }

  &__row:not(:last-child) {
    border-bottom: $border-grey-light;
  }

  &__heading {
    &--rank {
      width: 5rem;
    }
  }

  &__cell {
    padding: 1rem;
    text-align: center;

    &--name {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }

  &__logo {
    margin-right: 1rem;
    max-height: 2rem;
  }
}

.portfolio-table {
  box-shadow: $box-shadow-thin;
  border: $border-grey-dark;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;

  &__head {
    border-bottom: $border-grey-dark;
  }

  &__heading {
    padding: 1rem;

    &:not(:last-child) {
      border-right: $border-grey-dark;
    }
  }

  &__row {
    border-bottom: $border-grey;
  }

  &__cell {
    padding: 1.5rem;

    &:not(:last-child) {
      border-right: $border-grey;
    }
  }

  &__remove {
    @include color-hover($color-tertiary-dark, $color-tertiary);
  }

  &__foot td {
    border-right: $border-grey-dark;
    font-weight: 700;
    padding: 1rem;
  }
}

.home-table,
.portfolio-table {
  @media only screen and (min-width: $screen-size-md) {
    width: 100%;
  }
}
