.portfolio-content {
  left: 50%;
  max-width: 100rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;

  &__content {
    @include table-scroll($screen-size-sm);
  }
}
