// FONTS
$default-font-family: "Source Sans Pro", "Arial", sans-serif;
$default-font-size: 1.6rem;
$heading-font-family: "Ubuntu Mono", monospace;

// COLORS
$color-black: #2a2a2a;
$color-white: #fefefe;

$color-grey-light: #eee;
$color-grey: #c6c6c6;
$color-grey-dark: #7f7f7f;

$color-primary: #c1fcd4;
$color-secondary: #d4c1fc;
$color-secondary-dark: #8e5cf5;
$color-tertiary: #fcd4c1;
$color-tertiary-dark: #f58e5c;
$color-complement: #fcc1e9;

// EFFECTS
$box-shadow-thick: 0 5px 5px rgba($color-black, 0.25);
$box-shadow-thin: 0 1px 0.5px rgba($color-black, 0.25);
$border-grey-dark: 1px solid $color-grey-dark;
$border-grey: 1px solid $color-grey;
$border-grey-light: 1px solid $color-grey-light;

// MEDIA QUERIES
$screen-size-xl: 75em; // 1200px
$screen-size-lg: 62.5em; // 1000px
$screen-size-md: 50em; // 800px
$screen-size-sm: 37.5em; // 600px
$screen-size-xs: 25em; // 400px
