body {
  color: $color-black;
  font-family: $default-font-family;
  font-size: $default-font-size;
}

.heading-1 {
  color: $color-black;
  font-family: $heading-font-family;
  margin-bottom: 3rem;
  margin-top: 2rem;
  text-align: center;
}
