@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700|Ubuntu+Mono:400,700&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
:root {
  --default-font-family: "Source Sans Pro", "Arial", sans-serif;
  --default-font-size: 1.6rem;
  --heading-font-family: "Ubuntu Mono", monospace;
  --color-black: #2a2a2a;
  --color-white: #fefefe;
  --color-grey-light: #eee;
  --color-grey: #c6c6c6;
  --color-grey-dark: #7f7f7f;
  --color-primary: #c1fcd4;
  --color-secondary: #d4c1fc;
  --color-tertiary: #fcd4c1;
  --color-complement: #fcc1e9; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  color: var(--color-black);
  font-family: var(--default-font-family);
  font-size: var(--default-font-size); }

.heading-1 {
  color: var(--color-black);
  font-family: var(--heading-font-family);
  margin-bottom: 3rem;
  margin-top: 2rem;
  text-align: center; }

.crypto-card {
  border: 1px solid var(--color-grey-light);
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.25);
  padding: 2rem; }
  .crypto-card__header {
    display: flex;
    justify-content: space-between; }
  .crypto-card__add {
    color: var(--color-tertiary);
    cursor: pointer; }
    .crypto-card__add:hover {
      color: #f79160; }
  .crypto-card__info {
    list-style: none; }

.search-box {
  margin-bottom: 7rem;
  margin-top: 5rem; }
  .search-box__search {
    height: 3.5rem; }
  .search-box__input {
    font-family: var(--default-font-family);
    height: inherit;
    padding-left: 1.5rem;
    width: 84%; }
  .search-box__btn {
    background-color: var(--color-grey-light);
    border: none;
    cursor: pointer;
    height: inherit;
    width: 15%; }
    .search-box__btn:hover, .search-box__btn:focus {
      background-color: var(--color-grey);
      outline: none; }

.home-table {
  border-collapse: collapse;
  color: var(--color-black);
  font-size: 2rem;
  table-layout: fixed; }
  .home-table__head {
    border-bottom: 1px solid var(--color-grey-dark); }
  .home-table__row:not(:last-child) {
    border-bottom: 1px solid var(--color-grey-light); }
  .home-table__cell {
    padding: 1rem;
    text-align: center; }
    .home-table__cell--name {
      align-items: center;
      display: flex; }
  .home-table__logo {
    margin-right: 1rem;
    max-height: 2rem; }

.content {
  background-color: var(--color-white);
  padding: 5rem;
  position: relative; }

.footer {
  color: var(--color-black);
  font-size: 1.2rem;
  height: 6vh;
  padding: 2rem; }

.container {
  display: grid;
  grid-template-rows: minmax(94vh, 1fr) min-content;
  margin-left: 20vw; }

.navigation {
  align-items: center;
  background-color: var(--color-primary);
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  width: 20vw; }
  .navigation__menu {
    font-family: var(--heading-font-family);
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    list-style: none;
    text-align: center;
    text-transform: uppercase; }
  .navigation__item:not(:last-child) {
    margin-bottom: 1.5rem; }
  .navigation__link:visited, .navigation__link:link {
    color: var(--color-black);
    text-decoration: none; }
  .navigation__link:hover {
    color: gray; }

.home-content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); }

.add-search-content {
  margin: auto;
  width: 50%; }
