@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700|Ubuntu+Mono:400,700&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  color: #2a2a2a;
  font-family: "Source Sans Pro", "Arial", sans-serif;
  font-size: 1.6rem; }

.heading-1 {
  color: #2a2a2a;
  font-family: "Ubuntu Mono", monospace;
  margin-bottom: 3rem;
  margin-top: 2rem;
  text-align: center; }

.btn-form {
  background-color: #8e5cf5;
  border: 0;
  color: #fefefe;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  padding: 1.5rem 2.5rem;
  text-transform: uppercase;
  transition: all 0.2s; }
  .btn-form:hover, .btn-form:focus, .btn-form:active {
    background-color: #d4c1fc;
    color: #2a2a2a;
    outline: none; }

.crypto-card {
  border: 1px solid #eee;
  box-shadow: 0 1px 0.5px rgba(42, 42, 42, 0.25);
  padding: 2rem; }
  .crypto-card__header {
    display: flex;
    justify-content: space-between; }
  .crypto-card__add {
    color: #8e5cf5;
    cursor: pointer;
    transition: all 0.2s; }
    .crypto-card__add:hover {
      color: #d4c1fc; }
  .crypto-card__info {
    list-style: none; }

.auth-form {
  display: flex;
  flex-direction: column;
  height: 35rem;
  justify-content: space-between;
  padding: 2rem; }
  .auth-form__title {
    margin-bottom: 1rem; }
  .auth-form__input {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    font-size: 1.8rem;
    height: 5rem;
    padding-left: 1.5rem; }
    .auth-form__input--invisible {
      visibility: hidden; }
  .auth-form__btn {
    align-self: center;
    margin-top: 1rem; }
  .auth-form--login {
    border-right: 1px solid #c6c6c6; }

.search-box {
  margin-bottom: 7rem;
  margin-top: 5rem; }
  .search-box__search {
    height: 3.5rem; }
  .search-box__input {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    height: inherit;
    padding-left: 1.5rem;
    width: 84%; }
  .search-box__btn {
    background-color: #eee;
    cursor: pointer;
    transition: all 0.2s;
    border: none;
    height: inherit;
    width: 15%; }
    .search-box__btn:hover {
      background-color: #c6c6c6; }
    .search-box__btn:focus {
      outline: none; }

.home-table {
  border-collapse: collapse;
  color: #2a2a2a;
  font-size: 2rem;
  table-layout: fixed; }
  .home-table__head {
    border-bottom: 1px solid #7f7f7f; }
  .home-table__row:not(:last-child) {
    border-bottom: 1px solid #eee; }
  .home-table__cell {
    padding: 1rem;
    text-align: center; }
    .home-table__cell--name {
      align-items: center;
      display: flex; }
  .home-table__logo {
    margin-right: 1rem;
    max-height: 2rem; }

.portfolio-table {
  box-shadow: 0rem 1px 0.5px rgba(42, 42, 42, 0.25);
  border: 1px solid #7f7f7f;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center; }
  .portfolio-table__head {
    border-bottom: 1px solid #7f7f7f; }
  .portfolio-table__heading {
    padding: 1rem; }
    .portfolio-table__heading:not(:last-child) {
      border-right: 1px solid #7f7f7f; }
  .portfolio-table__row {
    border-bottom: 1px solid #c6c6c6; }
  .portfolio-table__cell {
    padding: 1.5rem; }
    .portfolio-table__cell:not(:last-child) {
      border-right: 1px solid #c6c6c6; }
  .portfolio-table__remove {
    color: #f58e5c;
    cursor: pointer;
    transition: all 0.2s; }
    .portfolio-table__remove:hover {
      color: #fcd4c1; }
  .portfolio-table__foot td {
    border-right: 1px solid #7f7f7f;
    font-weight: 700;
    padding: 1rem; }

.content {
  background-color: #fefefe;
  padding: 5rem;
  position: relative; }

.footer {
  color: #2a2a2a;
  font-size: 1.2rem;
  height: 6vh;
  padding: 2rem; }

.container {
  display: grid;
  grid-template-rows: minmax(94vh, 1fr) min-content;
  margin-left: 30rem; }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-rows: minmax(87vh, 1fr) min-content;
      margin-left: 0;
      padding-top: 5rem; } }

.navigation {
  align-items: center;
  background-color: #c1fcd4;
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  width: 30rem;
  z-index: 999; }
  @media only screen and (max-width: 62.5em) {
    .navigation {
      align-items: stretch;
      height: 5rem;
      justify-content: flex-start;
      width: 100%; } }
  .navigation__menu {
    font-family: "Ubuntu Mono", monospace;
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    width: 100%; }
    @media only screen and (max-width: 62.5em) {
      .navigation__menu {
        align-items: center;
        display: flex;
        font-size: 1.8rem;
        padding-left: 5rem; } }
  .navigation__item {
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center; }
    .navigation__item:hover {
      background-color: #fcc1e9; }
  .navigation__link:visited, .navigation__link:link {
    color: #2a2a2a;
    padding: 1rem;
    text-decoration: none; }

.add-search-content {
  margin: auto;
  width: 50%; }

.home-content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); }

.login-signup-content {
  align-content: center;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
  justify-content: center;
  margin: auto;
  width: 80%; }

.portfolio-content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); }
