.home-content {
  margin: auto;
  max-width: 100rem;
  width: 80%;

  &__updating {
    color: $color-grey-dark;
    text-align: center;
  }

  &__update-icon {
    width: 15px;
    height: 15px;
  }

  &__content {
    @include table-scroll($screen-size-sm);
  }

  &__sort {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  &__selector {
    color: $color-black;
    margin-left: 10px;
  }
}
