.home-content {
  margin: auto;
  max-width: 100rem;
  padding: 3rem;
  width: 80%;

  @media only screen and (max-width: $screen-size-md) {
    width: 100%;
  }

  &__updating {
    color: $color-grey-dark;
    text-align: center;
  }

  &__update-icon {
    width: 15px;
    height: 15px;
  }

  &__sort {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  &__selector {
    color: $color-black;
    margin-left: 10px;
  }

  &__content {
    @media only screen and (max-width: $screen-size-md) {
      width: 70rem;
      margin: auto;
      overflow-x: scroll;
      overflow-y: hidden;
      position: relative;
      white-space: nowrap;
    }

    @media only screen and (max-width: $screen-size-sm) {
      width: 50rem;
    }

    @media only screen and (max-width: $screen-size-xs) {
      width: 32.5rem;
    }
  }
}
