.btn {
  position: relative;

  &:active {
    top: 2px;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

.btn-form {
  @include background-hover($color-secondary-dark, $color-secondary);
  @include color-hover($color-white, $color-black);
  border: 0;
  box-shadow: $box-shadow-thin;
  font-family: $heading-font-family;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  padding: 1.5rem 2.5rem;
  text-transform: uppercase;
}

.btn-large {
  @include background-hover($color-tertiary-dark, $color-tertiary);
  @include color-hover($color-white, $color-black);
  border: 0;
  box-shadow: $box-shadow-thin;
  cursor: pointer;
  font-family: $heading-font-family;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin-right: 1rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
}

.btn-back {
  margin: 5rem 0;

  a {
    color: $color-tertiary-dark !important;

    &:hover {
      color: $color-tertiary !important;
    }
  }
}

.btn-like {
  @include color-hover($color-grey-dark, $color-grey);
  background: transparent;
  border: 0;
  cursor: pointer;

  &--liked {
    @include color-hover($color-red, $color-red-light);
  }
}

.btn-disabled {
  @include background-hover($color-grey-dark, $color-grey-dark);
  @include color-hover($color-white, $color-white);
  cursor: not-allowed;
}

.btn-group {
  display: flex;
  flex-direction: column;

  &__value {
    color: $color-grey-dark;
    font-size: 1.5rem;
  }
}

.home-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}
