.auth-form {
  display: flex;
  flex-direction: column;
  height: 35rem;
  justify-content: space-between;
  padding: 2rem;

  &__title {
    margin-bottom: 1rem;
  }

  &__input {
    font-family: $default-font-family;
    font-size: 1.8rem;
    height: 5rem;
    padding-left: 1.5rem;

    &--invisible {
      visibility: hidden;
    }
  }

  &__btn {
    align-self: center;
    margin-top: 1rem;
  }

  &--login {
    border-right: $border-grey;

    @media only screen and (max-width: $screen-size-md) {
      border-bottom: $border-grey;
      border-right: 0;
    }
  }
}

.search-box {
  margin: 7rem auto;
  max-width: 60rem;

  &__search {
    border: $border-grey-light;
    border-radius: 2px;
    box-shadow: $box-shadow-thin;
    display: grid;
    grid-template-columns: 80% 1fr;
    height: 5rem;
  }

  &__input {
    border: 0;
    font-family: $default-font-family;
    height: 100%;
    padding-left: 1.5rem;
    width: 100%;
  }

  &__btn {
    @include background-hover($color-grey-light, $color-grey);
    border: 0;
    height: 100%;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}
