.btn-form {
  background-color: var(--color-secondary-dark);
  border: 0;
  color: var(--color-white);
  cursor: pointer;
  font-size: 1.7rem;
  padding: 1.5rem 2.5rem;
  text-transform: uppercase;
  transition: all 0.2s;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--color-secondary);
    color: var(--color-grey-black);
    outline: none;
  }
}
