.crypto-card {
  border: 1px solid $color-grey-light;
  box-shadow: 0 1px 0.5px rgba($color-black, 0.25);
  padding: 2rem;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__add {
    @include color-hover($color-secondary-dark, $color-secondary);
  }

  &__info {
    list-style: none;
  }
}
