.home-table {
  border-collapse: collapse;
  color: var(--color-black);
  font-size: 2rem;
  table-layout: fixed;

  &__head {
    border-bottom: 1px solid var(--color-grey-dark);
  }

  &__row:not(:last-child) {
    border-bottom: 1px solid var(--color-grey-light);
  }

  &__cell {
    padding: 1rem;
    text-align: center;

    &--name {
      align-items: center;
      display: flex;
    }
  }

  &__logo {
    margin-right: 1rem;
    max-height: 2rem;
  }
}

.portfolio-table {
  box-shadow: 0rem 1px 0.5px rgba(black, 0.25);
  border: 1px solid var(--color-grey-dark);
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;

  &__head {
    border-bottom: 1px solid var(--color-grey-dark);
  }

  &__heading {
    padding: 1rem;

    &:not(:last-child) {
      border-right: 1px solid var(--color-grey-dark);
    }
  }

  &__body {
  }

  &__row {
    border-bottom: 1px solid var(--color-grey);
  }

  &__cell {
    padding: 1.5rem;

    &:not(:last-child) {
      border-right: 1px solid var(--color-grey);
    }
  }

  &__remove {
    color: var(--color-tertiary);
    cursor: pointer;

    &:hover {
      color: darken(#fcd4c1, 20%);
    }
  }

  &__foot td {
    border-right: 1px solid var(--color-grey-dark);
    font-weight: 700;
    padding: 1rem;
  }
}
